:root {
    --Preto:  #141204;
    --BrancoPagina: #dfe3c9;
    --Creme: #d2d8be;
    --Laranja: #d4aa7d;
    --LaranjaClaro: #dbb994;
    --LaranjaClaro2: #e0c3a3;
    --LaranjaClaro3: #ddc9b3;
    --Azul: #489ACA;
    --AzulEscuro: #2D8BC2;
    --AzulEscuro2: #1C465F;
    --AzulClaro: #62A8D2;
    --Verde: #719798;
    --VerdeEscuro1: #60767a;
    --verdeescuro1Meio: #56696e;
    --VerdeEscuro2: #2e3a3b;
    --VerdeEscuro3: #0E1A1A;
    --RosaCeleste: #804893;
}

@font-face {
    font-family: Inscryption;
    src: url(../fontes/inscryption/Portmanteau-Regular.otf);
}
@font-face {
    font-family: HeavyWei;
    src: url(../fontes/inscryption/HEAVYWEI.TTF);
}
@font-face {
    font-family: isaac;
    src: url(../fontes/isaac/upheavtt.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--BrancoPagina);
    font-family: Poppins, 'Arial';
}

/* NAVBAR */
nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--Preto);
}
nav ul li {
    display: inline-block;
    text-align: right;
}
nav ul li > a {
    display: inline-block;
    text-decoration: none;
    letter-spacing: 1.7px;
    padding: 12px 10px;
    color: var(--Creme); 
    font-size: 20px;
    margin: 0 10px;
}
nav li img {
    width: 40px;
    height: 40px;
}
a > div {
    display: flex;
    align-items: center;
    text-align: center;
}

.navbarImagem img {
    width: 40px;
    height: 40px;
    opacity: 0;
    transition: all 0.5s;
}
.navbarImagem:hover img {
    position: relative;
    opacity: 1;
}

/* 1.1 XANDE // LOGO*/
.navbarXande img {
    width: 250px;
    height: auto;
}
@keyframes pulsar {
    0% {transform: scale(1);}
    50% {transform: scale(1.05);}
    100% {transform: scale(1);}
}
.navbarXande img:hover {
    animation-name: pulsar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transition: all 0.5s;
}


.container {
    display: flex;
    flex-direction: row;
    transition: all 0.2s;
    justify-content: center;
}
.container > div {
    width: 100%;
}
.subtitulo {
    color: white;
    opacity: 0.25;
    font-size: 1.3vw;
    letter-spacing: 3px;
    display: inline;
    text-shadow: 2px 2px 10px white;
}
.descricao {
    text-align: left;
    opacity: 0.5;
    margin-bottom: 5px !important; 
    margin-left: 30px ;
    padding: 0;
}