:root {
    --Preto:  #141204;
    --BrancoPagina: #dfe3c9;
    --Creme: #d2d8be;
    --Laranja: #d4aa7d;
    --LaranjaClaro: #dbb994;
    --LaranjaClaro2: #e0c3a3;
    --LaranjaClaro3: #ddc9b3;
    --Azul: #489ACA;
    --AzulEscuro: #2D8BC2;
    --AzulEscuro2: #1C465F;
    --AzulClaro: #62A8D2;
    --Verde: #719798;
    --VerdeEscuro1: #60767a;
    --verdeescuro1Meio: #56696e;
    --VerdeEscuro2: #2e3a3b;
    --VerdeEscuro3: #0E1A1A;
    --RosaCeleste: #804893;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: Inscryption;
    src: url(../fontes/inscryption/Portmanteau-Regular.otf);
}
@font-face {
    font-family: HeavyWei;
    src: url(../fontes/inscryption/HEAVYWEI.TTF);
}
@font-face {
    font-family: isaac;
    src: url(../fontes/isaac/upheavtt.ttf);
}
@font-face {
    font-family: celeste;
    src: url(../fontes/celeste/Renogare-Regular.otf);
}
@font-face {
    font-family: terraria;
    src: url(../fontes/terraria/ANDYB.TTF);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--BrancoPagina);
    font-family: Poppins, 'Arial';
}
iframe {
    border: none;
}

/* NAVBAR */
nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--Preto);
}
nav ul li {
    display: inline-block;
    text-align: right;
}
nav ul li > a {
    display: inline-block;
    text-decoration: none;
    letter-spacing: 1.7px;
    padding: 12px 10px;
    color: var(--Creme); 
    font-size: 20px;
    margin: 0 10px;
}
nav li img {
    width: 40px;
    height: 40px;
}
a > div {
    display: flex;
    align-items: center;
    text-align: center;
}

.navbarImagem img {
    width: 40px;
    height: 40px;
    opacity: 0;
    transition: all 0.5s;
}
.navbarImagem:hover img {
    position: relative;
    opacity: 1;
}

@keyframes rodando {   
    0% {transform: rotate(2deg);}
    50% {transform: rotate(-2deg);}
    100% {transform: rotate(2deg);}
}
@keyframes pulsar {
    0% {transform: scale(1);}
    50% {transform: scale(1.05);}
    100% {transform: scale(1);}
}
@keyframes morangoCeleste {
    0% {top: 20px;}
    50% {top: -5px;}
    100% {top: 0;}
}

/* XANDE // LOGO*/
.navbarXande img {
    width: 220px;
    height: auto;
    padding: 0;
}

.navbarXande img:hover {
    animation-name: pulsar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transition: all 0.5s;
}
/* JOGOS PUZZLE // THE WITNESS */
.navbarPuzzle img {
    border-radius: 4px;
    margin-right: 4px;
}

/* JOGOS HISTORIA // CELESTE */

.navbarHistoria:hover img {
    animation-name: morangoCeleste;
    animation-duration: 0.5s;
}

/* JOGOS ROGUELIKE */
.navbarRogue img {
    width: 60px;
    object-fit: cover;
}

.imagemTopo {
    position: relative;
    height: auto;
    width: 100%;
    text-align: center;
}
.imagemTopo img {
    width: 100%;
    height: auto;
    margin: auto;
    box-shadow: 10px 10px 50px 10px black;
}
.imagemTopo h1 {
    font-family: Celeste;
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    color: white;
    cursor: default;
    font-size: 5vw;
    -webkit-text-stroke: black 50px;
    box-sizing: content-box;
    paint-order: stroke fill;
    font-style: italic;
}
.TheWitnessTitulo {
    font-family: 'Times New Roman', Poppins, 'Arial' !important;
    font-weight: 500 !important;
    margin: 20px 0 !important;
    font-size: 2.3vw ;
}
.TheWitnessTitulo span {
    font-size: 3vw;
}
.container {
    display: flex;
    flex-direction: row;
    transition: all 0.2s;
    justify-content: center;
}
.container > div {
    width: 100%;
}
.subtitulo {
    color: white;
    opacity: 0.25;
    font-size: 1.3vw;
    letter-spacing: 3px;
    display: inline;
    text-shadow: 2px 2px 10px white;
}
.descricao {
    text-align: left;
    opacity: 0.5;
    margin-bottom: 5px !important; 
    margin-left: 30px ;
    padding: 0;
}
.steam p {
    font-size: 1vw;
}
.steam img {
    height: 40px;
    width: 40px;
    margin: 10px;
}
.glitch {
    animation: glitch 725ms infinite;
    color: #e0e0e0;
    cursor: not-allowed;
}
.glitch span {
    position: absolute;
    top: 0;
    left: 0;
}
.glitch span:first-child {
animation: glitch 500ms infinite;
clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
transform: translate(-0.04em, -0.03em);
opacity: 0.75;
}

.glitch span:last-child {
animation: glitch 375ms infinite;
clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
transform: translate(0.04em, 0.03em);
opacity: 0.75;
}

@keyframes glitch {
0% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
    0.025em 0.04em 0 #fffc00;
}
15% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
    0.025em 0.04em 0 #fffc00;
}
16% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
    -0.05em -0.05em 0 #fffc00;
}
49% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
    -0.05em -0.05em 0 #fffc00;
}
50% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
    0 -0.04em 0 #fffc00;
}
99% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
    0 -0.04em 0 #fffc00;
}
100% {
    text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
    -0.04em -0.025em 0 #fffc00;
}
}

footer {
    background-color: var(--Preto);
    padding: 40px;
    text-align: center;
}
footer > div {
    width: 30%;
    margin: auto;
}
footer p {
    color: var(--Creme);
    font-size: 1vw;
    margin: 10px;
    width: 30%;
    margin: 20px auto;
}
footer > div > a {
    width: 40px;
    cursor: pointer !important;
}
footer > div > a > img {
    width: 60px;
    cursor: pointer !important;
}