* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

/*
LEGENDA

01 - REGRAS GERAIS
02 - HEADER E NAV
03 - TODAS AS SEÇÕES
04 - SEÇÃO01
05 - SEÇÃO02
06 - SEÇÃO03
07 - SEÇÃO04
08 - SEÇÃO05
09 - SEÇÃO06
10 - FOOTER
*/

/* 01 REGRAS GERAIS */
.container {
    display: flex;
    flex-direction: row;
}
.container div {
    padding: 40px;
}
.btn-preto {
    background-color: black;
}
.btn-azul {
    background-color: rgb(0, 0, 77);
}

/* 02 HEADER E NAV */
header img {
    width: 100%;
}
nav ul {
    background-color: rgb(0, 0, 77);
    width: 100%;
    text-align: center;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 20px 30px;
    font-weight: bold;
}
nav ul li a:hover {
    text-decoration: underline;
}

/* 03 SEÇÃO TUDO :D */
main section {
    width: 1300px;
    padding: 50px;
    margin: auto;
}
main section:nth-of-type(odd) {
    background-color: #dddddd;
}
main section:nth-of-type(even) {
    background-color: white;
}

.destaque {
    font-weight: bold;
    font-size: large;
}
main section button {
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    border: none;
    transition: all 0.25s;
}
main section button:hover {
    background-color: orangered;
    cursor: pointer;
}


/* 04 SEÇÃO 01 :O */

main section h1 {
    font-size: xx-large;
    text-transform: uppercase;
}
main section p {
    margin: 20px 0;
    text-align: justify;
}

/* 05 SEÇÃO 02 :P */
main section:nth-of-type(2) h2 {
    margin-bottom: 20px;
}
main section:nth-of-type(2) .container > img {
    margin: 2px;  
}
main section:nth-of-type(2) .container > img {
    width: 40px;
}

/* 06 SEÇÃO 03 */
.servicos .container div {
    text-align: center;
    width: 100%;
}
.servicos img {
    width: 90%;
}

/* 07 SEÇÃO 04 */
.quemSomos .container div {
    text-align: center;
}

/* 08 SEÇÃO 05 */

.slogan .container > button {
    margin-right: 5px;
}

/* 09 SEÇÃO 06 */
.containerColuna {
    flex-direction: column;

}
.containerColuna div {
    margin-bottom: 5px;
    padding: 0px;
}
.compromissos .container > div:nth-of-type(2) {
    text-align: center;
}
.compromissos .container img {
    width: 500px;
}


/* 10 FOOTER */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
    font-weight: bolder;
}

