* {
    box-sizing: border-box;
    margin: 0px;
}

body {
	margin: 0px;
	line-height:1.4em;
	font-family: 'Lato', Verdana;
}

header{
    background-color: black;
}

nav {
    background-color: black;
    height: 47px;
}

nav ul {
    margin: 0px;
    padding: 0px;
    height: 47px;
}

nav ul li {
    display: inline;
    font-size: 16px;
    padding: 15px 20px 15px 20px;
    line-height: 45px;
    height: 47px;
}

nav ul li a {
    color: aliceblue;
    text-decoration: none;
}

nav ul li:hover {
    background-color: #cccccc;
    color: black;
}

.pesquisa {
    float: right;
    align-content: center;
    padding-left: 23px;
    padding-right: 23px;
}

.pesquisa:hover {
    background-color: #f44336;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.inferior-meio {
    position: absolute;
    bottom: 10%;
    left: 33%;
    font-size: 25px;
}
.titulo-img {
    font-size: 25px;
    font-weight: 300;
}

.descricao-img {
    font-size: 15px;
    font-weight: bolder;
}

.opaco {
    color: #666666;
}

.banda-descricao {
    color: #666666;
    font-style: italic;
    font-weight: 600;
    
}

.banda-texto {
    text-align: justify;
    padding: 0px 79px 80px 79px;
    font-size: 15px;
}

main section {
    text-align: center;
}

main section:nth-child(1) img {
width: 100%;

}

h1 {
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 5px;
}

main section:nth-child(2) img {
    height: 150px;
    width: 150px;
    margin: 10px 40px 10px 40px;

}

main section:nth-child(3) {
    background-color: black;
    text-align: center;
    padding: 50px;
}

main section h2 {
    color: white;
    letter-spacing: 5px;
    font-size: 30px;
    font-weight: 300;
}

main section:nth-child(3) div hr {
    width: 100%;
}

main section:nth-child(3) div p {
 padding: 5px 10px 10px 15px;
}

main section:nth-child(3) div img {
    padding: 0px;
    height: 185px;
    width: 245px;
}

main section:nth-child(4) h2 {
    color: black;
    padding: 50px 0px 40px 0px;
}


main section:nth-child(3) div img:hover {
    filter: brightness(70%);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0px;
}

.grid-item {
    padding: 0px 0px 10px 0px;
    font-size: 15px;
    text-align: center;
}

.datas-tour {
    background-color: #ffffff;
    padding: 10px;
    text-align: left;
    color: #737373;
    margin-bottom: 32px;
    width:780px;
}

.vendidos {
    background-color: #f44336;
    color: white;
    padding: 0px;
}


.row {
    display: flex;
    width: 800px;
    
  }
  
.tour-lugares {
    flex: 33.33%;
    padding: 0px;
}

.tour-lugares-container {
    background-color: white;
    padding: 0px;
    text-align: left;
    width: 245px;
}

.botao-ticket {
    border: none;
    color: white;
    background-color: black;
    padding: 10px;
    margin: 10px 0px 20px 15px;
    font-size: 16px;
} 

.botao-ticket:hover {
    background-color: #cccccc;
    color: black;
}

main section form input {
    padding: 8px;
    font-size: 15px;
    border-color: #cccccc;
    border-style: solid; 

}

.nome-email {
    float: left;
    
}