
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Oswald', Helvetica, sans-serif;
}

ul {
    background-color: black;
    width: 100%;
    text-align: center;
    height: 88px;
}
ul li {
    display: inline-block;
    margin: 0 -1.5px 0 -1.5px;
}
.menu-opcao {
    width: 100px;
    height: 80px;
    background-color: #000101;
    background-repeat: no-repeat;
    background-position: center 10px;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    text-align: center;
    filter: saturate(0);
    /* cursor: pointer; */
    transition: 0.5s;
    text-decoration: none;
    padding-bottom: 80px;
}
.menu-opcao a {
    color: white;
    text-decoration: none;
    transition: 0.5s;
    display: block;
    padding: 50px 20px 16px 20px;
}
.menu-opcao:hover {
    filter: saturate(100%);
    transition: 0.5s;
}

/* FACEBOOK */
.facebook {
    background-image: url('/24.08.02/imagens/face.png');
    transition: 0.5s;
}
.facebook:hover {
    border-bottom: #3b5998 8px solid;
    transition: 0.5s;
}
.facebook:hover a {
    color: #3b5998;
    transition: 0.5s;
}

/* INSTAGRAM */
.instagram {
    background-image: url('/24.08.02/imagens/insta.png');
    transition: 0.5s;
}
.instagram:hover {
    border-bottom: 8px solid;
    border-image: linear-gradient(to right, #f9ce34 0%, #ee2a7b 50%, #6228d7 100%) 1;
    transition: 0.5s;
}
.instagram:hover .instagram-texto {
    background-image: 
        linear-gradient(90deg, #f9ce34, #ee2a7b, #6228d7);
    background-clip: text;
    color: transparent;
    transition: 0.5s;
}
.instagram-texto {
    color: white;
    transition: 0.5s;
}

/* TWITTER */
.twitter {
    background-image: url('/24.08.02/imagens/twitter.png');
    transition: 0.5s;
    color: #55acee;
}
.twitter:hover {
    border-bottom: #55ecee 8px solid;
    transition: 0.5s;
}
.twitter:hover a {
    color: #55acee;
    transition: 0.5s;
}

/* MAPS */
.maps {
    background-image: url('/24.08.02/imagens/maps.png');
    transition: 0.5s;
}
.maps:hover {
    border-bottom: #1081e0 8px solid;
    transition: 0.5s;
}
.maps:hover a {
    color: #1081e0;
}

/* YOUTUBE */
.youtube {
    background-image: url('/24.08.02/imagens/youtube.png');
    transition: 0.5s;
}
.youtube:hover {
    border-bottom: #f61c0d 8px solid;
    transition: 0.5s;
}
.youtube:hover a {
    color: #f61c0d;
    transition: 0.5s;
}