* {
    box-sizing: border-box;
    line-height: 1.6;
    margin: 0;
    font-family: "Poppins", serif;
}
body {
    padding: 0;
}

/*-----------------------------------------------*/
                        /*NAVBAR*/
nav ul {
    font-size: 15px;
    position: fixed;
    height: 87px;
    box-shadow: 1px 2px 5px gray;
    width: 100%;
    text-align: right;
    padding: 0 20px 0 20px;
    z-index: 2;
    background-color: white;
}
nav ul li {
    display: inline;
}
nav ul li:nth-child(1) {
    float: left;
}
nav ul li a.logo-principal-nav {
    font-size: 20px;
    font-weight: 700;
    color: #1b1e20;
}
nav ul li a.logo-principal-nav:hover {
    color: #1b1e20;
}
.logo-race-nav {
    color: #ff545a;
}
nav ul li a {
    padding: 30px 10px 30px 10px;
    float: right;
    color: #859098;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.75s;
}
nav ul li a:hover {
    color: #ff5c62;
}
/*-----------------------------------------------*/
                        /*HEADER*/
.container-img-header {
    text-align: center;
}
.container-img-header img{
    text-align: center;
    position: relative;
    background-size: cover;
    background-position: center center;
    top: 80px;
    width: 100%;
    height:750px;
    z-index: -1;
    filter: invert(20%) sepia(5%) saturate(80%) brightness(95%) contrast(80%);
    max-width: 1700px;
}
.superior-meio {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 1300px;
}
.superior-meio h1 {
    font-size: 45px;
    font-weight: 700;
    margin: 430px 0 25px 0;
    color: white;
}
.superior-meio p:nth-child(2) {
    font-size: 18px;
    color: white;
    margin: 0;
}
.container-pesquisa-header {
    flex: auto;
    width: 1300px;
    padding: 25px 0 0 0;
}
.caixas-de-pesquisa-header {
    width: 85%;
    height: 80px;
    background-color: white;
    float: left;
    border-radius: 5px;
}
.caixas-de-pesquisa-header label {
    float: left;
    height: 80px;
    font-size: 18px;
    font-weight: 500;
    padding: 26px 25px 26px 25px;
    color: #03000f;
    z-index: 1;
    width: auto;
}
.caixas-de-pesquisa-header input {
    float: left;
    height: 80px;
    width: 350px;
    font-size: 15px;
    border: gray;
    border-width: 0 2px 0 0;
    padding: 0 0 0 10px;
}
.botao-de-pesquisa-header {
    float: right;
    text-align: center;
    background-color: #ff545a;
    height: 80px;
    width: auto;
    border-radius: 5px;
    transition: background-color 0.75s, color 0.75s;
}
.botao-de-pesquisa-header:hover {
    background-color: #f43032;
}
.botao-de-pesquisa-header p {
    float: none;
    padding: 25px 30px 10px 30px;
    color: white;
    font-weight: 700;
    font-size: 20px;
}
.container-misc-header {
    text-align: center;
    width: 1300px;
    flex: auto;
    margin: 200px auto 50px auto;
    float: left;
}
.content-misc-header {
    float: left;
    width: 19.10%;
    text-align: center;
    background-color: white;
    color: black;
    padding: 10px 0 30px 0;
    border-radius: 5px;
    transition: color, background-color 0.75s;
    margin: 0 5px 0 5px;
    box-shadow: 1px 1px 5px 1px gray;
}
.content-misc-header:nth-child(1) {
    margin-left: 10px;
}

.content-misc-header:hover {
    background-color: #f43032;
    color: white;
}
.content-misc-header i {
    font-size: 50px;
    padding: 25px 16px 25px 16px;
}
.content-misc-header h3 {
    font-size: 16px;
    margin: 13px 0 13px 0;
    font-weight: 500;
}
.content-misc-header p {
    font-size: 14px;
    font-weight: 700;
    opacity: 0.5;
    margin: 0;
}
/*-----------------------------------------------*/
            /*Todas as sections*/
main section {
    text-align: center;
    margin: 180px 0 40px 0;
}
main section h2 {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 24px;
    color: #505866;
}
.descricao-pos-h2 {
    font-size: 16px;
    font-weight: 500;
    opacity: 0.5;
    margin-bottom: 80px;
}
/*-----------------------------------------------*/
            /*01 Section how it works*/

.container-tasks-hiw {
    flex: auto;
    margin: auto;
    width: 1100px;
    text-align: center;
    height: 500px;
}
.content-tasks-hiw {
    float: left;
    width: 32%;
    background-color: white;
    text-align: center;
    box-shadow: 1px 1px 5px 1px gray;
    margin: 60px 5px auto 5px;
    transition: background-color 0.75s, color 0.5s;
}
.content-tasks-hiw:hover {background-color: #ff5c62; color: white; }
.content-tasks-hiw:hover i { color: #ff5c62; }
.content-tasks-hiw:hover button { color: #ff5c62}

.content-tasks-hiw p{
    width: 250px;
    margin: 30px auto 30px auto;
}
.content-tasks-hiw h2{
    width: 250px;
    margin: 60px auto 30px auto;
}
.content-tasks-hiw button{
    width: 100px;
    height: 35px;
    margin: 60px auto 30px auto;
    border: solid #859098 1px;
    border-radius: 3px;
    color: #737373;
}
.circulo-hiw {
    height: 80px;
    width: 80px;
    background-color: #eef2f6;
    border-radius: 50%;
    margin: 30px auto 30px auto;
}
.content-tasks-hiw i {
    font-size: 45px;
    padding-top: 20px;
}
/*-----------------------------------------------*/
                /*02 Section EXPLORE*/
main section:nth-child(2) {
    background-color: #d3d5d6;
    padding: 80px 0 80px 0;
}
.row-container-explore {
    display: flex;
    width: 1300px;
    margin: 20px auto 20px auto;

}
.col-content-explore {
    width: 33.33%;
    padding: 0 ;
    background-color: white;
    text-align: center;
    border: 1px #cccccc solid;
    border-radius: 5px;
    transition: box-shadow 0.75s;
    margin: 0 .5% 0 .5%;
}
.col-content-explore:hover { box-shadow: 1px 1px 20px 1px #ababab }
.col-content-text-explore i:hover { color: #ff5c62 }

.col-content-explore-img {
    width: 100%;
    position: relative;
}
.col-content-text-explore {
    padding: 8px 16px 8px 16px;
}
.col-content-text-explore h3 {
    font-size: 16px;
    font-weight: 500;
    margin: 8px 0 16px 0;
}
.col-content-text-explore p {
    font-size: 12px;
    color: #767f86;
    margin: 16px 8px 16px 0;
}
.col-content-text-explore p:nth-child(4) {
    margin: 40px 0 32px 0;
 }
.col-content-text-explore img {
    height: 40px;
    margin: 32px 8px 32px 0;
    float: left;
}
.col-content-text-explore hr {
    opacity: 0.5;
    width: 100%;
}
.col-content-text-explore button {
    font-size: 12px;
    border: none;
    background-color: white;
    color: red;
    margin: 16px 0 16px 0;
    float: left;
}
.col-content-text-explore i {
    font-size: 12px;
    padding: 0 16px 0 16px;
    color: #859098;
    transition: color .75s;
    float: right;
    margin: 20px 0 0 0;
}
.content-avaliacao-explore {
    background-color: cadetblue;
    width: 32px;
    font-size: 12px;
    color: white;
    border-radius: 3px;
    text-align: center;
    font-weight: 500;
    padding: 2px 6px 2px 6px;
    margin-right: 16px;
}
.content-qnt-avaliacao-explore {
    opacity: 0.75;
    font-weight: 400;
    font-size: 12px;
    margin-right: 16px;
}
.content-preco-container-explore {
    padding: 0 5px 0 5px;
    margin: 0 5px 0 0 ;
    border: #cccccc solid 1px;
    border-bottom: 0;
    border-top: 0;
}
.content-preco-container-explore span {
    font-size: 12px;
    font-weight: 400;
    color: red;
}
/*-----------------------------------------------*/
            /* 03 Section CLIENT REVIEWS*/
main section:nth-child(3) {
    text-align: center;
}
.row-container-client {
    flex: auto;
    width: 85%;
    margin: auto;
}
.col-content-client {
    box-shadow: rgba(71, 71, 71, 0.5) 0 0 5px 0;
    float: left;
    text-align: left;
    background-color: white;
    width: 14.95%;
    padding: 8px 16px 8px 16px;
    margin: 0 12px 60px 12px;
    transition: transform .75s ease, opacity .75s ease;
}
.row-container-client:hover > .col-content-client:not(:hover){
    opacity: .5;
    z-index: -1;
}
.col-content-client:hover {
    transform: scale(120%, 120%);
    z-index: 2;
}
.col-content-client p{
    font-size: 14px;
    font-weight: 300;
    opacity: .80;
}
.col-content-client h3 {
    font-size: 18px;
    font-weight: 500;
}
.col-content-client h4 {
    font-size: 14px;
    font-weight: 400;
    opacity: .75;
}
.col-content-client img {
    float: left;
    height: 50px;
    margin: 10px 10px 10px 0;
}
.content-info-client {
    padding: 30px 10px 10px 10px;
}
.content-info-client i{
    color: #e5ca24;
}
.img-background-client {
    position: fixed;
}
/*-----------------------------------------------*/
       /*section news and articles*/
main section:nth-child(4) {
    text-align: center;
}
.row-container-news {
    display: flex;
    width: 62%;
    margin: auto;
}
.col-container-news {
    width: 33.33%;
    margin: 0 10px 0 10px;
    box-shadow: rgba(71, 71, 71, 0.5) 0 0 5px 0;
    text-align: left;
    transition: box-shadow .5s ease;
}
.col-container-news:hover { box-shadow: #687285 2px 2px 20px; }
.col-container-news:hover h3 { color: #f44336 }

.col-container-news img {
    width: 100%;
}
.col-content-news {
    padding: 32px;
    font-size: 14px;
    font-weight: 400;
    color: rgb(143, 148, 157);
}
.col-content-news p {
    margin: 16px 0 8px 0;
}
.col-content-news h3{
    font-weight: 500;
    font-size: 16px;
    color: black;
    margin: 0 0 16px 0;
    transition: color .5s ease;
}
.col-content-post-news {
    margin: 0 0 16px 0;
}
.col-content-admin-news {
    font-weight: bold;
    color: black;
    padding: 4px;
    border-right: 1px solid darkgray;
}