* {
    box-sizing: border-box;
    line-height: 1.6;
    margin: 0px;
}
body {
    font-family: 'Times New Roman', Times, serif;
}

nav ul {
    background-color: white;
    box-shadow: 1px 2px 4px darkgray;
    text-align: right;
    height: 56px;
    font-size: 15px;
    padding: 8px 16px 8px 16px;
    position: fixed;
    width: 100%;
    z-index: 1;
}
nav ul li{
    display: inline;
}
nav ul li a {
    text-decoration: none;
    float: right;
    padding: 8px 16px 8px 16px;
    letter-spacing: 4px;
    color: black;
}
nav ul li a:hover {
    background-color: #cccccc;
}
nav ul li:nth-child(1) {
    float: left;
}

header{
    text-align: center;
}
header div img {
    width: 100%;
    min-width: 500px;
    letter-spacing: 4px;
}
.container {
    position: relative;
}
.inferior-esquerdo {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 12px 24px 12px 24px;
    display: block;
}
h1 {
    font-family: 'Playfair Display';
    font-size: 36px;
    letter-spacing: 5px;
    font-weight: 100;
    margin: 10px 0px 10px 0px;
    opacity: 0.6;
}
h2, h3, h4 {
    font-family: 'Playfair Display';
    font-size: 36px;
    letter-spacing: 5px;
    font-weight: 100;
    margin: 10px 0px 10px 0px;
}

.row {
    display: flex;
}

/* About Catering Section */

main {
    text-align: center;
}

main section {
    padding: 64px 0px 64px 0px;
    text-align: center;
    margin: auto;
}
main section:nth-child(1) {
    width: 1100px;
}
.col-about-catering-img {
    flex: 50%;
    margin: 0px;
    padding: 0px;
    opacity: 0.75;
    padding: 12px 24px 12px 24px;
    height: auto;
    max-width: 750px;
}
.col-about-catering {
    flex: 50%;
    margin: 0px;
    padding: 12px 24px 12px 24px;
    width: 400px;
}
.col-about-catering h3 {
    font-size: 18px;
}
.col-about-catering p {
    text-align: left;
    margin: 18px 0px 0px 0px;
    font-size: 18px;
}
.seasonal {
    background-color: #f1f1f1;
    padding: 2px 8px 2px 8px;
}
.frances {
    opacity: 0.75;
}

hr {
    margin: 20px auto 20px auto;
    width: 1200px;
}

/* Our Menu Section */

.col-our-menu {
    flex: 50%;
    margin: 0px;
    padding: 12px 24px 12px 24px;
    width: 100px;
}
main section:nth-child(3) {
    width: 1100px;
}
main section:nth-child(3) h2 {
    margin: 10px 0px 40px 0px;
}
.col-our-menu h3 {
    text-align: left;
    font-size: 18px;
}
.col-our-menu p {
    text-align: left;
    font-size: 13px;
    margin: 10px 0px 30px 0px;
    opacity: 0.75;
}
.col-our-menu-img {
    flex: 50%;
    margin: 0px;
    padding: 12px 24px 12px 24px;
    width: 500px;
    opacity: 0.75;
}

/* Contacts Section */

main section:nth-child(4) {
    width: 900px;
}
.contacts {
    text-align: left;
    margin: auto;
    width: 1100px;
    padding: 12px 24px 12px 24px;
}
.contacts p:nth-child(even) {
    margin: 15px 0px 15px 0px;
}
.contacts p:nth-child(3) {
    font-weight: bolder;
    color: darkcyan;
    margin: 18px 0px 18px 0px;
}
main section form input {
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    margin: 15px 0px 15px 5px;
    padding: 0px 0px 8px 8px;
    border-width: 0px 0px 2px 0px;
    border-color: #cccccc;
}

.send {
    font-family: 'Times New Roman', Times, serif;
    width: auto;
    font-size: 15px;
    background-color: #f1f1f1;
    padding: 8px 16px 8px 16px;
    margin: 16px 0px 16px 0px;
    border: none;
}

footer {
    background-color: #f1f1f1;
    height: 93px;
    width: auto;
    padding: 40px 0px 0px 0px;
}
footer a:hover {
    color: green;
}